<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"  href="static/formstyle.css" th:href="@{/formstyle.css}">
</head>
<body>
  <div class="container">
    <h2>Registro de Usuario</h2>
    <form th:action="@{/save}" th:object=${persona} method="POST">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required th:field="*{name}" >
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required th:field="*{email}">
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required th:field="*{contra}">
      </div>
      <div class="form-group">
        <input type="submit" value="Registrarse">
      </div>
    </form>
  </div>
  	

</body>
</html>